<h1>Eat Dat Burger!!! </h1>
<img src="assets/img/burger.png" alt="">
<h2>Eat Time</h2>
<ul>
    {{#each burgers}}
        {{#unless devoured}}
            {{>burgersList/burgers-block hungry=true}}
        {{/unless}}    
    {{/each}}
</ul>

<h2>Devoured</h2>
<ul>
    {{#each burgers}}
        {{#if devoured}}
             {{> burgersList/burgers-block hungry=false}}
        {{/if}}
    {{/each}}
</ul>

<h2> add burger</h3>
<form class= "create-form">

    <div class ="form- group">
        <label for="burgers-label"></label>
        <input type="text" id="burgers-input" name="name">
    </div>

     <button type="submit">Add burger</button>
</form>